body{
    font-family: 'Poppins',sans-serif;
}




.container-mas{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;

}

.container-mas mat-icon{
    color: crimson;
}

:host ::ng-deep mat-header-cell {
    background-color: crimson !important;
    color: white;
    font-family:'Poppins', sans-serif ;
}

h1{
    font-family: 'Poppins' ,sans-serif;
    color: crimson;
    text-align: center;
}



