mat-header-cell{
    background-color: var(--clr-blue-blue) !important;
    color: white;
    font-family: var(--font-family);
}

mat-cell{
    font-family: var(--font-family);
    color: var(--clr-blue-dark) !important;
}

mat-icon{
    color: var(--clr-blue-blue) !important;
}

h2{
    color: var(--clr-blue-dark);
    font-family: var(--font-family);
    font-weight: bold;
    text-align: center;
}


mat-row:nth-child(even){
    background-color: #daf0ee ;
}
mat-row:hover{
    background-color: var(--clr-white-font);
}

mat-table{
    width: 100%;
    border-radius: 10px !important;
    overflow: hidden;
  
}

