<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      
            <h2>Modificar Producto</h2>
            <!-- modificar-producto.component.html -->
            <div class="input">
                <label>Código</label>
                <input type="text" [(ngModel)]="producto.codigo">
                <mat-icon>edit</mat-icon>
            </div>
             <div class="input">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="producto.nombre">
                 <mat-icon>edit</mat-icon>
            </div>
             <div class="input">
                <label>Descripcion</label>
                <input type="text" class="input-chico" [(ngModel)]="producto.descripcion">
                 <mat-icon>edit</mat-icon>
            </div>
             <div class="input">
                <label>Stock</label>
                <input type="text" [(ngModel)]="producto.stock"> 
                <mat-icon>edit</mat-icon>
            </div>
             <div class="input">
                <label>Código</label>
                <input type="text" [(ngModel)]="producto.Ubicacion">
                 <mat-icon>edit</mat-icon>
            </div>
            <button  mat-button color="primary" style="color: black;">Guardar Cambios</button>
        
  


    </div>
</body>
</html>
