.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

mat-card {
    border-radius: 20px;
}

input{
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--clr-light-bluepas);
}

/* Cambiar el color de fondo y bordes, hacer el campo redondeado */
.custom-select .mat-form-field-underline {
    background-color: #FF5733; /* color de fondo */
    border-radius: 50px; /* bordes redondeados */
    border: none; /* quitar el borde de debajo */
  }
  
  .custom-select .mat-form-field-label {
    color: white; /* color de la etiqueta */
  }
  
  /* Cambiar el color de fondo de la caja del mat-select */
  .custom-select .mat-select-trigger {
    background-color: #FF5733; /* mismo color de fondo */
    border-radius: 50px; /* bordes redondeados */
    color: white; /* color del texto de la selección */
    padding: 12px 16px; /* margen interno para hacer que se vea más espacioso */
  }
  
  /* Cambiar el color de las opciones dentro del mat-select */
  .custom-select .mat-option {
    background-color: #FF5733; /* color de fondo */
    color: white; /* color del texto de las opciones */
  }
  
  /* Cambiar el color cuando el mat-select está enfocado */
  .custom-select.mat-focused .mat-select-trigger {
    background-color: #FF3d00; /* color de fondo al estar enfocado */
    color: white; /* color del texto */
  }
  
  /* Cambiar el color de borde cuando mat-form-field está enfocado */
  .custom-select.mat-focused .mat-form-field-underline {
    background-color: #FF3d00; /* color de borde cuando está enfocado */
  }
  