.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

mat-card {
    border-radius: 20px;
    width: 70%;
}

mat-card {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

mat-card h1{
  text-align: center;
}

mat-card input{
  background-color: var(--clr-light-bluepas);
  border-radius: 30px;
  border: none;
  width: 50%;
  height: 40px;
   
}

.custom-select{
  width: 100%;
}

button{
  background-color: var(--clr-light-bluepas);
  width: 30%;
  height: 40px;
  border-radius: 30px;
  border: none;
}