<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container-input">
            <mat-card appearance="outlined">
                <h1>Agregar Colaborador</h1>
                <label for="">Nombre:</label>
                <input type="name">
                <label for="">Correo Electronico:</label>
                <input type="email">
                <label for="">N° celular:</label>
                <input type="number">
                <div class="cargo">
                    <mat-form-field  class="custom-select"  appearance="outline">
                        <mat-label>Cargo</mat-label>
                        <mat-select >
                          @for (cargo of cargos; track cargo) {
                            <mat-option [value]="cargo.id_cargo">{{cargo.nombreCargo}}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                </div>
                <button mat-stroked-button>Guardar colaborador </button>
              </mat-card>
        </div>
    </div>
</body>
</html>
