<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="dashboard" *ngIf="usuarioRol==='admin'">
            <div class="dashboard-container">
            <h4 class="dashboard-title">Hola {{usuarioNombre}} Bienvenid{{'@'}}</h4>

                    <div class="card yellow">
                    <i class="fas fa-box"></i>
                    <h3>Productos</h3>
                    <p>{{ totalProductos }}</p>
                    </div>

                    <div class="card green">
                    <i class="fas fa-arrow-left"></i>
                    <h3>Entradas</h3>
                    <p>{{entradaTotal}}</p>
                    </div>

                    <div class="card red">
                    <i class="fas fa-arrow-right"></i>
                    <h3>Salidas</h3>
                    <p>{{ totalSalida }}</p>
                    </div>

                    <div class="card red">
                    <i class="fas fa-arrow-right"></i>
                    <h3 routerLink="/ver-solicitud">Solicitudes</h3>
                    <p>{{ totalPendientes}}</p>
                    </div>
                </div>
    </div>
    <div class="dashboard-gestor" *ngIf="usuarioRol === 'gestor'">
        <h4 class="dashboard-title" >Hola, {{usuarioNombre}} Bienvenid{{'@'}} </h4>

        <div class="dashboard-card">
            <mat-card class="card-agregar">
            <mat-card-title class="title">Agregar Producto</mat-card-title>
            <mat-card-content class="card-content">
                <button mat-icon-button style="color: white;"  matTooltip="Agregar productos" routerLink="/add-product">
                    <mat-icon >add</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-agregar">
            <mat-card-title class="title">Solicitar compra</mat-card-title>
            <mat-card-content class="card-content">
                <button mat-icon-button color="primary" matTooltip="Solicitar compras"  routerLink="/carrito">
                    <mat-icon style="color: white;" >add_shopping_cart</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-agregar">
            <mat-card-title class="title"> Lista Productos</mat-card-title>
            <mat-card-content class="card-content">
                <button mat-icon-button color="primary" matTooltip="Lista de productos"  routerLink="/delete-product">
                    <mat-icon style="color: white;" >list_alt</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
       

        </div>

        

    </div>

        <app-notificacion></app-notificacion>
    
    </div>


</body>
</html>
