.container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  
}

.card {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(to right, var(--clr-light-blue), var(--clr-blue-pastel));
}

mat-icon{
    color: white;

}

.titulo {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.notifications-panel {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.notification {
  margin-bottom: 1rem;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: end;
}
.card-action button{
    background: linear-gradient(to right, var(--clr-light-blue), var(--clr-blue-pastel));
    border: none;
    cursor: pointer;
    margin-top: -25px;
    
}
