<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <div class="container-card">
        <mat-card appearance="outlined" class="card" *ngFor="let card of cards" [routerLink]="card.route">
            <mat-card-content>
                <mat-icon>{{ card.icon }}</mat-icon>
                <mat-card-title class="titulo">{{ card.label }}</mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="notifications-panel">
        <h2>Solicitudes Recientes</h2>
        <mat-card class="notification" *ngFor="let notification of notifications">
            <mat-card-content class="text">
                {{notification}}
                <div class="card-action">
                    <button mat-fab>
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-fab>
                    <mat-icon>close</mat-icon>
                </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


</body>
</html>
