.container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.notifications-panel {
  background: #62b6cb;
  padding: 1rem;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.notification {
  margin-bottom: 1rem;
 text-align: center;
 
}

h2{
    font-family: var(--font-family);
    text-align: center;
    color: #1B4965 ;
}
.text{
    font-family:var(--font-family);
}

.icono{
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;    
   
   
}
