<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="notifications-panel">
        <h2>Notificaciones
            <mat-icon class="icono">notifications</mat-icon>
        </h2>
        
        <mat-card class="notification" *ngFor="let notification of notifications">
            <mat-card-content class="text">
                {{notification}}
                
            </mat-card-content>
        </mat-card>
    </div>

                
           
       
    </div>

   


</body>
</html>