<mat-nav-list class="logo">
    <mat-icon>handyman</mat-icon>
    <span class="material-symbols-outlined"> Maestranza</span>
  </mat-nav-list>
  
  <mat-nav-list class="menu-items">
    <a mat-list-item routerLink="/registro-productos" routerLinkActive="active">Registro de productos</a>
    <a mat-list-item routerLink="/carrito" routerLinkActive="active">Carrito</a>
  </mat-nav-list>
  
  <mat-nav-list class="sidebar-footer">
    <a mat-list-item>Configuraciones</a>
    <a mat-list-item>Cerrar sesión</a>
  </mat-nav-list>
