<mat-nav-list class="logo">
    <span class="brand-name">Maestranza</span>
  </mat-nav-list>
  
  <mat-nav-list class="menu-items">
    <a mat-list-item routerLink="/principal" routerLinkActive="active">Dashboard</a>
    <a mat-list-item routerLink="/colaboradores" routerLinkActive="active">Agregar Colaborador</a>
    <a mat-list-item routerLink="/productos" routerLinkActive="active">Registro de inventario</a>
    <a mat-list-item routerLink="/analytics" routerLinkActive="active">Carrito de compras</a>
    <a mat-list-item routerLink="/categories" routerLinkActive="active">Localizacion de productos</a>
    <a mat-list-item routerLink="/upcoming-transactions" routerLinkActive="active">Informes</a>
    <a mat-list-item routerLink="/provedores" routerLinkActive="active">Provedores</a>
  </mat-nav-list>
  
  <mat-nav-list class="sidebar-footer">
    <a mat-list-item routerLink="/config">Configuraciones</a>
    <a mat-list-item routerLink="/about-company" >Acerca de la empresa</a>
    <a mat-list-item routerLink="/login" >Cerrar sesión</a>
  </mat-nav-list>
