<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Historial de Movimientos</h2>

<table *ngIf="movimientos.length > 0">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Tipo</th>
      <th>Cantidad</th>
      <th>Motivo</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movimientos">
      <td>{{ m.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ m.producto_id?.nombre }}</td>
      <td>{{ m.tipo }}</td>
      <td>{{ m.cantidad }}</td>
      <td>{{ m.motivo || '-' }}</td>
      <td>{{ m.usuario_id?.nombre}}</td>  <!-- Debería mostrar "Javier" -->
    </tr>
  </tbody>
</table>

<p *ngIf="movimientos.length === 0">No hay movimientos registrados.</p>

</body>
</html>
