<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Registro de producto</h3>
        <div class="container-input">
            <input type="number" placeholder="Ingrese el numero de serie">
            <input type="text" placeholder="Ingrese nombre del producto">
            <input type="text" placeholder="Ingrese descripcion">
            <input type="text" placeholder="Ingrese ubicacion">
            <select class="form-select" aria-label="Default select example">
                <option selected>Selecione la categoria:</option>
                <option value="1">Construccion</option>
                <option value="2">Mineria</option>
              </select>

              <div class="container-button">
                <button>Guardar Producto</button>
              </div>
        </div>
    </div>

    <div class="container-table">
        <table>
            <thead>
                <th>Numero de serie</th>
                <th>Nombre</th>
                <th>descripcion</th>
                <th>Ubicacion</th>
                <th>Categoria</th>
            </thead>
            <tbody>
                <td>sss</td>
                <td>deff</td>
                <td>nnsks</td>
                <td>nnsks</td>
                <td>nnsks</td>

            </tbody>
        </table>

    </div>
</body>
</html>