<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Reporte de Inventario - Maestranza Unidos S.A</h2>
    <table>
        <thead>
            <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Ubicacion</th>
        </tr>

        </thead>
        <tbody>
            <tr *ngFor="let prod of productos">
                <td>{{prod.codigo}}</td>
                <td>{{prod.nombre}}</td>
                <td>{{ getNombreCategoria(prod.categoria) }}</td>
                <td>{{prod.stock}}</td>
                <td>{{getNombreUbicacion(prod.ubicacion)}}</td>

            </tr>

        </tbody>
        
    </table>

    <div class="btn-container">
        <button mat-button (click)="exportarPDF()"> PDF</button>
        <button mat-button (click)="exportarExcel()">Excell</button>

    </div>

    
</body>
</html>
