<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
  <h2>Enviar Solicitud de Cotización</h2>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Producto</mat-card-title>
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label class="mat-form-field-flex">Ingrese el producto</mat-label>
        <mat-select class="mat-form-field" [(ngModel)]="selectedValue" name="product">
          @for (product of products; track products) {
            <mat-option class="mat-form-field-flex"   [value]="product.codigo">{{product.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-card-title>Proveedores</mat-card-title>
      <mat-form-field appearance="outline" class="full-color-form">
        <mat-label>Selecciona proveedores</mat-label>
        <mat-select [(ngModel)]="proveedoresSeleccionados" multiple>
            @for (provedor of proveedoresDisponibles; track provedor) {
            <mat-option [value]="provedor.id">{{provedor.nombre}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-card-title>Condiciones</mat-card-title>
      <mat-form-field appearance="outline">
        <input matInput  type="text" placeholder="Escribe condiciones">
      </mat-form-field>

      <div class="buttons">
        <button mat-raised-button color="primary">Enviar Solicitud</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

               
</body>
</html>