.container{
    display: flex;
    flex-direction: column;
    gap:3rem !important;
    padding: 1rem;
}

.container, .form{
    flex: 1;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center  !important;
}
mat-card-title, label{
    color: #1b4965;
    text-align: center;
    margin-bottom: 10px;
    font-family:var(--font-family) ;
}

input, .form-select{
    border-radius: 30px;
    width: 50%;
    height: 40px;
    text-align: center;
    background-color: #62b6cb;
    border: 2px solid white;
    font-family: var(--font-family);
    color: white;
    margin-bottom: 10px;
}

.form-date{
    height: 50px;
}

.form-select{
    height: 50px;
}
:host ::placeholder{
    color: white !important;
    text-align: center !important;
    
}

textarea{
    border-radius: 30px;
    width: 50%;
    height: 50px;
    background-color: #62b6cb;
    border: 2px solid white;
    font-family: var(--font-family);
    color: white;
    text-align: center;
    
}


button{
    width: 100%;
    margin-top: 20px;
    border: 2px solid #62b6cb;
    color: #62b6cb !important;
    font-family: var(--font-family);
}

button:hover{
    background-color: #1b4965;
    color: white !important;
    font-family: var(--font-family);
}