:host {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 100%;
    min-height: 100px;
    padding: 0 1rem;
    background-color: var(--clr-light-bluepas); /* Toolbar background */
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.toolbar-title {
    font-size: var(--font-size-xxl);
    font-weight: 600;
    font-family: var(--font-family-bold);
    color: var(--color-primary-darkest); /* Title color */
    justify-self: center;
    text-align: center;
}
.toolbar-actions {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    justify-self: end;
    justify-content: space-around;
}

:host ::ng-deep .toolbar-actions button mat-icon {
    color: var(--color-primary-darkest) !important;
  }


  button{
    border-radius:30px;
    width:60px;
    height: 60px;
    border: 2px solid var(--clr-light-blue);

  }

  .buttons{
    right: 30px;

  }