<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 style="color:var(--clr-marine)">Iniciar Sesion</h1>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <a href="#" style="color:var(--clr-light-blue)">¿Olvidaste tu contraseña?</a>
            <button>Sign in</button>
        </div>
        <div class="info-container">
            <h1>Hola, Colaborador!</h1>
            <p>Ingresa con tus credenciales personales</p>
        </div>
    </div>
        
</body>
</html>